services:
  qbittorrent:
    image: j4ym0/pia-qbittorrent
    container_name: qbittorrent
    init: true
    restart: unless-stopped
    network_mode: host
    cap_add:
      - NET_ADMIN
    ports:
      - "8888:8888"
    environment:
      - REGION=US_EAST
      - USER=${PIA_USERNAME}
      - PASSWORD=${PIA_PASSWORD}
      - TZ=America/New_York
    volumes:
      - ${DATA_DIR}:/mnt/nas
      - ${DATA_DIR}/.qbittorrent/config:/config
      - ${DATA_DIR}/Torrents:/downloads

  plex:
    container_name: plex
    image: linuxserver/plex
    restart: unless-stopped
    network_mode: host
    ports:
      - "8080:80"
    environment:
      - TZ=America/New_York
    volumes:
      - ${DATA_DIR}:/data
      - ${DATA_DIR}/.plex/config:/config
      - ${DATA_DIR}/.plex/transcode:/transcode
      - ${DATA_DIR}/TV:/tv
      - ${DATA_DIR}/Movies:/movies
      - ${DATA_DIR}/Music:/music

  home-assistant:
    container_name: home-assistant
    image: "ghcr.io/home-assistant/home-assistant:stable"
    environment:
      - TZ=America/New_York
    volumes:
      - ${DATA_DIR}/.home-assistant:/config
      - /run/dbus:/run/dbus:ro
    restart: unless-stopped
    privileged: true
    network_mode: host
