services:
  caddy:
    image: caddy:latest
    container_name: caddy
    restart: unless-stopped
    network_mode: host
    volumes:
      - ${DATA_DIR}/.caddy/data:/data
      - ${DATA_DIR}/.caddy/config:/config
      - ${DATA_DIR}/.caddy/Caddyfile:/etc/caddy/Caddyfile
      - /var/packages/Tailscale/var:/var/lib/tailscale:ro
      - /var/packages/Tailscale/var:/var/run/tailscale:ro
    environment:
      - TZ=America/New_York
    depends_on:
      - qbittorrent
      - plex
      - home-assistant

  qbittorrent:
    image: j4ym0/pia-qbittorrent
    container_name: qbittorrent
    init: true
    restart: unless-stopped
    network_mode: host
    cap_add:
      - NET_ADMIN
    ports:
      - "8888:8888"
    environment:
      - PIA_REGION=US_EAST
      - PIA_USERNAME=${PIA_USERNAME}
      - PIA_PASSWORD=${PIA_PASSWORD}
      - LEGACY_IPTABLES=true
      - TZ=America/New_York
    volumes:
      - ${DATA_DIR}:/mnt/nas
      - ${DATA_DIR}/.qbittorrent/config:/config
      - ${DATA_DIR}/Torrents:/downloads

  plex:
    container_name: plex
    image: linuxserver/plex
    restart: unless-stopped
    network_mode: host
    ports:
      - "32400:32400"
    environment:
      - TZ=America/New_York
      - PLEX_CLAIM=${PLEX_CLAIM}
      - ADVERTISE_IP=https://it-was-written.tail7aee2.ts.net:10000/
    volumes:
      - ${DATA_DIR}:/data
      - ${DATA_DIR}/.plex/config:/config
      - ${DATA_DIR}/.plex/transcode:/transcode
      - ${DATA_DIR}/TV:/tv
      - ${DATA_DIR}/Movies:/movies
      - ${DATA_DIR}/Music:/music

  home-assistant:
    container_name: home-assistant
    image: "ghcr.io/home-assistant/home-assistant:stable"
    environment:
      - TZ=America/New_York
    volumes:
      - ${DATA_DIR}/.home-assistant:/config
      - /run/dbus:/run/dbus:ro
    restart: unless-stopped
    privileged: true
    network_mode: host
